/* sample.css*/
h1 {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 170, 0, 0.5);
  color: white;
  border: 2px solid #f06; }

.ist_01 {
  background-position: 0 0; }

.ist_02 {
  background-position: 0 10px; }

.ist_03 {
  background-position: 0 40px; }

.ist_04 {
  background-position: 0 100px; }

.list_01 {
  background-position: 0 0; }

.list_02 {
  background-position: 0 10px; }

.list_03 {
  background-position: 0 40px; }

.list_04 {
  background-position: 0 100px; }

.myp-1 {
  background-image: url("../../img/myi/content/product/img01.jpg"); }

.myp-2 {
  background-image: url("../../img/myi/content/product/img02.jpg"); }

.myp-3 {
  background-image: url("../../img/myi/content/product/img03.jpg"); }

.myp-4 {
  background-image: url("../../img/myi/content/product/img04.jpg"); }
