// slide_all.scss

@import "./_basic/var";
@import "./_basic/mixin_02";
@import "./_basic/etc";

// ============================

#wrap{ position:relative; @include fullBox($bg:transperent); }

  .view_btn{ position:absolute; z-index:500; width:90%; height:0; top:50%; left:5%; 
    &>button{ float:left; @include conUnit(width, 50); @include conUnit(height, 50);  transform:translateY(-50%); }
    &>.next{ float:right; }
  }
  .indicator{ $myRel:30;
    position:absolute; z-index:500; left:50%; @include conUnit(bottom, 80); transform:translateX(-50%); width:auto; @include conUnit(height, $myRel); @include conUnit(padding, 6); background-color: #fff; @include conUnit(border-radius, $myRel); 
    &>li{ float:left; @include conUnit(width, $myRel); @include conUnit(height, $myRel); @include conUnit(margin-left, 16); 
      &:first-child{ margin-left:0; }
      &.action{ @include conUnit(width, 100); }
        &>a{ display:block; @include fullBox; @include conUnit(border-radius, $myRel); }
    }
  }

#viewBox{ @include fullBox($h:90%, $bg:#fcf); } 
.slide_form{ @include fullBox($bg:#acf); }
.slide_wrap{ $count:5; position:relative; @include fullBox($w:100% * $count); 
  &>div{ float:left; width:100% / $count; height:100%; 
    $c: ( #acc, #fac, #13f, #fa9, #ccc);
    @for $i from 1 through $count {
      @if ( $count < 10 ) {
        &.slide_0#{$i}{ background-color:nth($c, $i); }
      } @else {
        &.slide_#{$i}{ background-color:nth($c, $i); } 
      } //if
    } //for 
  } //div
} // slide_wrap