@charset "utf-8";

/* my_web_site.css============ */

.clearfix:after,
.clearfix::after { content:" "; display:block; width:0; height:0; clear:both; }

.hideen { display:block; width:0; height:0; overflow:hidden;}
/* common.css */

#wrap { width:100%; height:2968px; }

/* header============== */

#headBox { width:100%; height:auto;  }
  .search_area { padding:20px; margin:auto; box-sizing:border-box;width:960px; height:120px; background-color:#a4b;}
    .search_area>h1 { float:left; width:180px; height:80px; text-align:center; line-height:80px; background-color:#fff; }
    .search_bar { float:left; margin-left:70px; width: 354px; height:40px; background-color:#fff; }
    .search_icon { float:left; width:46px; height:40px; background-color:#000; }

    .img_area_01 { float:right; width:88px; height:80px; background-color:#fff; }
      .img_box { width:100%; height:60px; }
        .left_btn { float:left; margin-top:60px; width:50%; height:20px; background-color:#000; }
        .right_btn { float:right; margin-top:60px; width:50%; height:20px; background-color:#000; }

  .gnb { width:100%; height:auto; background-color:#fff;}
    .nav_gnb { margin:auto; width:960px; height:58px; background-color:#bad; }
      .samseon_bar { float:left; width:60px; height:100%; background-color:#000; }
      .unb { float:left; width:538px; height:100%; background-color:#0af; }
      .login_area { float:left; width:360px; height:100%; background-color:#ccc; }

/* section-1 광고배너============================================ */

#adverBox { width:100%; height:310px;  }
  .img_area_02 { width:100%; height:auto; background-color:#777; }
    .adver_btn { position:relative; margin:auto; width:960px; height:310px; background-color:#fff; }
    .adver_btn>ul { position:absolute; top:220px; left:106px; padding:1px; box-sizing:border-box; width:500px; height:50px;}
    .adver_btn>ul>li { float:left;  margin-left:1px; width:98px; height:48px; background-color:#ccc; }
    .adver_btn>ul>li>a { font-size:1rem; font-size:16px; line-height:48px; text-align:center; font-weight:bold; color:#fff; }
    /* text-aling:center 안 먹는 이유??? */


/* article-1 화제의 신간========================================= */

/* 화제의 신간 | 국내도서 | 외국도서 | e-book */
#newbookBox { width:100%; height:auto; background-color: #ccc; }
  .wrap_newbook { position:relative; margin:auto; width:960px; height:818px; background-color:#adf; }
    .newbook_list { position:absolute; top:50px; width:624px; height:70px; background-color:#ccc; }
    .newbook_list>h3>a { display:block; float:left; width:222px; height:70px; font-size:1.875rem; font-size:30px; text-align:center; line-height:70px; color:#000;  background-color:#a96;}
    .newbook_list>ul { float:left; padding:1px; box-sizing:border-box; width:402px; height:70px; }
    .newbook_list>ul>li { float:left; margin-left:1px; width:132px; height:100%; background-color:#a96;}
    .newbook_list>ul>li>a { font-size:1.25rem; font-size:20px; text-align:center; line-height:70px; color:#000; }

    /* 스왑 버튼 */
    .swarp_btn { z-index:300; position:absolute; top:404px; left:-70px; right:0; margin:auto; width:1100px; height:40px; }
      .left_swarp { float:left; width:40px; height:100%; background-color:#fff; }
      .right_swarp { float:right; width:40px; height:100%; background-color:#fff; }
  
  /* 신간 소개 첫 번째 영역 */
  .wrap_newbook>.newbook_area { position:absolute; top:134px; left:0;  width:100%; height:568px; background-color:#957; }
    .newbook_area>.newbook_boxEdge01>ul { width:100%; height:246px; }
    .newbook_area>.newbook_boxEdge01>ul>li { float:left; width:222px; height:100%; background-color:#fff; }
    .newbook_boxEdge01>ul>li:nth-child(2) { float:left; margin-left:24px; width:222px; height:100%; background-color:#fff;}
    .newbook_boxEdge01>ul>li:nth-child(3) { float:left; margin-left:24px; width:222px; height:100%; background-color:#fff;}
    .newbook_boxEdge01>ul>li:nth-child(4) { float:left; margin-left:24px; width:222px; height:100%; background-color:#fff;}
    .newbook_boxEdge01>ul>li:last-chlid { margin-left:0; }
    
    /* 신간 소개 두 번째 영역 */
    .newbook_area>.newbook_boxEdge02>ul { margin-top:76px; width:100%; height:246px; }
    .newbook_area>.newbook_boxEdge02>ul>li { float:left; width:222px; height:100%; background-color:#fff; }
    .newbook_boxEdge02>ul>li:nth-child(2) { float:left; margin-left:24px; width:222px; height:100%; background-color:#fff;}
    .newbook_boxEdge02>ul>li:nth-child(3) { float:left; margin-left:24px; width:222px; height:100%; background-color:#fff;}
    .newbook_boxEdge02>ul>li:nth-child(4) { float:left; margin-left:24px; width:222px; height:100%; background-color:#fff;}
    .newbook_boxEdge02>ul>li:last-chlid { margin-left:0; }

    /* 베스트 키워드-1 영역 */
  .wrap_newbook>.best_keyword { position:absolute; top:706px; left:30px; width:664px; height:46px; background-color:#ccc; }
    .best_keyword>h3 { float:left; margin-right:54px; width:190px; height:100%; font-size:1.25rem; font-size:20px; text-align:center; line-height:46px; color:#000; background-color:#777; }
    .best_keyword>ul { float:left; width:420px; height:100%; background-color:#333; }
    .best_keyword>ul>li:first-child { float:left; margin-right:20px; width:90px; height:100%; background-color:#a96; }
    .best_keyword>ul>li:nth-child(2) { float:left; margin-right:20px; width:90px; height:100%; background-color:#a96; }
    .best_keyword>ul>li:nth-child(3) { float:left; margin-right:20px; width:90px; height:100%; background-color:#a96; }
    .best_keyword>ul>li:nth-child(4) { float:left; width:90px; height:100%; background-color:#a96; }
    .best_keyword>ul>li:last-child { margin-right:0; }
    .best_keyword>ul>li>a { font-size:1.25rem; font-size:16px; text-align:center; line-height:50px; color:#000;}

    /* 베스트 키워드-2 영역 */
  .wrap_newbook>.best_keyword02 { position:absolute; top:760px; left:30px; width:548px; height:50px; background-color:#000; }  
    .best_keyword02>li:first-child { float:left; margin-right:10px; width:214px; height:100%; background-color:#fff; }
    .best_keyword02>li:nth-child(2) { float:left; margin-right:10px; width:136px; height:100%; background-color:#fff; }
    .best_keyword02>li:nth-child(3) { float:left; width:178px; height:100%; background-color:#fff; }
    .best_keyword02>li:last-child { margin-right:0; }
    .best_keyword02>li>a { font-size:1.5625rem; font-size:25px; text-align:center; line-height:50px; color:#000;}


/* aside-1 광고영역 */

#adverArea { width:100%; height:130px; outline:1px solid #000;}

/* article-2 베스트셀러 영역 */

#bestSaler { width:100%; height: 508px; outline:1px solid #000; }

/* article-3 금주의 신간 영역 */

#weekNewbook { width:100%; height:240px; outline:1px solid #000; }

/* aside-2 스토리-k 영역 */

#story_K { width:100%; height:600px; outline:1px solid #000; }

/* footer */

#footBox { width:100%; height:184px; outline:1px solid #000; }