@charset "utf-8";

/* my_web_site.css============ */

.clearfix:after,
.clearfix::after { content:" "; display:block; width:0; height:0; clear:both; }

.hideen { display:block; width:0; height:0; overflow:hidden;}
/* common.css */

#wrap { width:100%; height:2968px; }

/* header============== */

#headBox { width:100%; height:auto;  }
  .search_area { padding:20px; margin:auto; box-sizing:border-box;width:960px; height:120px; background-color:#a4b;}
    .search_area>h1 { float:left; width:180px; height:80px; text-align:center; line-height:80px; background-color:#fff; }
    .search_bar { float:left; margin-left:70px; width: 354px; height:40px; background-color:#fff; }
    .search_icon { float:left; width:46px; height:40px; background-color:#000; }

    .img_area_01 { float:right; width:88px; height:80px; background-color:#fff; }
      .img_box { width:100%; height:60px; }
        .left_btn { float:left; margin-top:60px; width:50%; height:20px; background-color:#000; }
        .right_btn { float:right; margin-top:60px; width:50%; height:20px; background-color:#000; }

  .gnb { width:100%; height:auto; background-color:#fff;}
    .nav_gnb { margin:auto; width:960px; height:58px; background-color:#bad; }
      .samseon_bar { float:left; width:60px; height:100%; background-color:#000; }
      .unb { float:left; width:538px; height:100%; background-color:#0af; }
      .login_area { float:left; width:360px; height:100%; background-color:#ccc; }

/* section-1 광고배너 */

#adverBox { width:100%; height:310px;  }
  .img_area_02 { width:100%; height:auto; background-color:#777; }
    .adver_btn { position:relative; margin:auto; width:960px; height:310px; background-color:#fff; }
    .adver_btn>ul { position:absolute; top:220px; left:106px; padding:1px; box-sizing:border-box; width:500px; height:50px;}
    .adver_btn>ul>li { float:left;  margin-left:1px; width:98px; height:48px; background-color:#ccc; }
    .adver_btn>ul>li>a { font-size:1rem; font-size:16px; line-height:48px; text-align:center; font-weight:bold; color:#fff; }

/* article-1 화제의 신간 */

#newbookBox { width:100%; height:818px; outline:1px solid #000; }

/* aside-1 광고영역 */

#adverArea { width:100%; height:130px; outline:1px solid #000;}

/* article-2 베스트셀러 영역 */

#bestSaler { width:100%; height: 508px; outline:1px solid #000; }

/* article-3 금주의 신간 영역 */

#weekNewbook { width:100%; height:240px; outline:1px solid #000; }

/* aside-2 스토리-k 영역 */

#story_K { width:100%; height:600px; outline:1px solid #000; }

/* footer */

#footBox { width:100%; height:184px; outline:1px solid #000; }