@font-face {
    font-family: 'Zapfino';
    src: url('Zapfino.eot');
    src: url('Zapfino.eot?#iefix') format('embedded-opentype'),
        url('Zapfino.woff2') format('woff2'),
        url('Zapfino.woff') format('woff'),
        url('Zapfino.ttf') format('truetype'),
        url('Zapfino.svg#Zapfino') format('svg');
    font-weight: normal;
    font-style: italic;
}

